<h4>Change password</h4>

<div class="row">
    <div class="col-md-6">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onsubmit()" novalidate>
            <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form-group">
                <label for="OldPassword">Current password</label>
                <input formControlName="oldPassword" class="form-control" type="password" data-val="true" data-val-required="The Current password field is required." id="OldPassword"
                    name="OldPassword">
                <span class="text-danger field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="NewPassword">New password</label>
                <input formControlName="newPassword" class="form-control" type="password" data-val="true" data-val-length="The New password must be at least 6 and at max 100 characters long."
                    data-val-length-max="100" data-val-length-min="6" data-val-required="The New password field is required."
                    id="NewPassword" name="NewPassword">
                <span class="text-danger field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm new password</label>
                <input formControlName="confirmPassword" class="form-control" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match."
                    data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword">
                <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <button type="submit" class="btn btn-default">Update password</button>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8J4DnwWk-95FkEtiHuVBfEXqLeJxCw2Xf3dMGGBJX2ke8QMLvtydzpnid8qAT-mm__dE2lgqrD9uBT2iS6GheTvv-MrmTqoB1eQGaJrKnUFprLzQp6Tnbc_-sR_DQgHJbnh9EMb9ULcjXzqpRPqTEtBBecACCKv8EdsQtRoc0oGywwrIHTDnfV0onzF-h0dtVw"></form>
    </div>
</div>