<ul class="nav nav-tabs">

    <li class="active" *ngIf="activeTab">
        <a data-toggle="tab" (click)="selectTab(activeTab)">{{activeTab.name}}</a>
    </li>

    <li *ngFor="let blog of tabs">
        <a data-toggle="tab" (click)="selectTab(blog)">{{blog.name}}</a>
    </li>

</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" *ngIf="activeTab">
        <h3>{{activeTab.name}}</h3>

        <div *ngFor="let post of activeTab.posts">
            <h4>{{post.title}}</h4>
            <p>{{post.content}}</p>
        </div>

    </div>
</div>