<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header" *ngIf="!userService.user">
            <a class="navbar-brand" href="#">APPLICATION NAME</a>
        </div>

        <!--
        <ul class="nav navbar-nav" *ngIf="userService.user">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/dashboard']">
                    <span class='glyphicon glyphicon-stats'></span> Dashboard
                </a>
            </li>
        </ul>-->


        <ul class="nav navbar-nav navbar-right">
            <li [routerLinkActive]="['active']" *ngIf="!userService.user">
                <a [routerLink]="['/register']">
                    <span class='glyphicon glyphicon-user'></span> Sign Up
                </a>
            </li>
            <li [routerLinkActive]="['active']" *ngIf="!userService.user">
                <a [routerLink]="['/login']">
                    <span class='glyphicon glyphicon-log-in'></span> Login
                </a>
            </li>
            <li>
                <a (click)="logout()" *ngIf="userService.user">
                    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
            </li>
        </ul>
    </div>
</nav>