<h2>Home</h2>

<section *ngIf="userService.user">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">EFFECTIVE MEASURE</h4>
                    <p class="category"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">SOCIAL MEDIA</h4>
                    <p class="category"></p>
                </div>
            </div>
        </div>
    </div>

</section>

<section *ngIf="!userService.user">
    Public Content
</section>