<div class="row">
    <div class="col-md-6" *ngIf="featuredArticle && featuredArticle.content != null">
        <div class="card">
            <div class="header">
                <h4 class="title">Featured Article</h4>
            </div>
            <hr>
            <p class="category">
                {{featuredArticle.content}}
            </p>
        </div>
    </div>
    <div class="col-md-6" *ngIf="featuredNews && featuredNews.content != null ">
        <div class="card ">
            <div class="header ">
                <h4 class="title ">Featured News</h4>
            </div>
            <hr>
            <p class="category ">
                {{featuredNews.content}}
            </p>
        </div>
    </div>
</div>