<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-3'>
            <nav-menu></nav-menu>
        </div>

        <div class='col-md-9 body-content'>
            <nav-bar></nav-bar>

            <router-outlet></router-outlet>

            <div class="alert alert-success" *ngIf="alert.success">
                <strong>Success!</strong> {{alert.message}}
            </div>

            <div class="alert alert-info" *ngIf="alert.info">
                <strong>Info!</strong> {{alert.message}}
            </div>

            <div class="alert alert-warning" *ngIf="alert.warning">
                <strong>Warning!</strong> {{alert.message}}
            </div>

            <div class="alert alert-danger" *ngIf="alert.danger">
                <strong>Danger!</strong> {{alert.message}}
            </div>

        </div>

    </div>
</div>